/*
FONT DECLARATIONS

USER
	THEME
	FONTS

RESET

UTILITIES

DEFAULTS
	VARIABLES
	COLOUR PATCH

	GENERAL
	PLAYER
	NAV
	SECTIONS

	BOOTH
	ARCHIVE
	NEWS
	ABOUT
	STREAMING
	SETTINGS
	CONTACT/LINKS/CREDITS/WELCOME
*/

@layer reset, defaults, user, utilities;

/* ====================================
	FONT DECLARATIONS
==================================== */

/* -------------
	WEBFONTS
------------- */

/* SERIF */

@font-face {
	font-family: Bitter;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src:
		url("./fonts/bitter-regular-weirdwaves.woff2?v=2024-06-07")
		format("woff2");
}
@font-face {
	font-family: Bitter;
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src:
		url("./fonts/bitter-bold-weirdwaves.woff2?v=2024-06-07")
		format("woff2");
}
@font-face {
	font-family: Bitter;
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	src:
		url("./fonts/bitter-italic-weirdwaves.woff2?v=2024-06-07")
		format("woff2");
}
@font-face {
	font-family: Bitter;
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	src:
		url("./fonts/bitter-bold-italic-weirdwaves.woff2?v=2024-06-07")
		format("woff2");
}

/* SANS */

@font-face {
	font-family: "Fira Sans";
	font-weight: normal;
	font-style: normal;
	font-variant-numeric: slashed-zero;
	font-display: swap;
	size-adjust: 103%;
	ascent-override: 77%;
	descent-override: 23%;
	src:
		url("./fonts/fira-sans-regular-weirdwaves.woff2?v=2024-06-07")
		format("woff2");
}
@font-face {
	font-family: "Fira Sans";
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	size-adjust: 103%;
	ascent-override: 77%;
	descent-override: 23%;
	src:
		url("./fonts/fira-sans-bold-weirdwaves.woff2?v=2024-06-07")
		format("woff2");
}
@font-face {
	font-family: "Fira Sans";
	font-weight: normal;
	font-style: italic;
	font-variant-numeric: slashed-zero;
	font-display: swap;
	size-adjust: 103%;
	ascent-override: 77%;
	descent-override: 23%;
	src:
		url("./fonts/fira-sans-italic-weirdwaves.woff2?v=2024-06-07")
		format("woff2");
}
@font-face {
	font-family: "Fira Sans";
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	size-adjust: 103%;
	ascent-override: 77%;
	descent-override: 23%;
	src:
		url("./fonts/fira-sans-bold-italic-weirdwaves.woff2?v=2024-06-07")
		format("woff2");
}

/* MONO */

@font-face {
	font-family: "Fira Mono";
	font-weight: normal;
	font-style: regular;
	font-display: swap;
	size-adjust: 95%;
	ascent-override: 80%;
	src:
		url("./fonts/fira-mono-regular-weirdwaves.woff2?v=2024-12-18")
		format("woff2");
}

/* --------------
	FALLBACKS
-------------- */

/* SERIF */

@font-face {
	font-family: "fallback Georgia"; /* general websafe */
	size-adjust: 104%;
	ascent-override: 75%;
	descent-override: 25%;
	src:
		local("Georgia");
}
@font-face {
	font-family: "fallback Droid Serif"; /* Android */
	ascent-override: 86%;
	descent-override: 36%;
	src:
		local("Droid Serif");
}
@font-face {
	font-family: "fallback Caladea"; /* ChromeOS */
	size-adjust: 111%;
	ascent-override: 70%;
	descent-override: 30%;
	src:
		local("Caladea");
}

/* SANS */

@font-face {
	font-family: "fallback Verdana"; /* general websafe */
	size-adjust: 95%;
	ascent-override: 95%;
	descent-override: 35%;
	src:
		local("Verdana");
}
@font-face {
	font-family: "fallback Droid Sans"; /* Android */
	ascent-override: 86%;
	descent-override: 36%;
	src:
		local("Droid Sans");
}
@font-face {
	font-family: "fallback Carlito"; /* ChromeOS */
	size-adjust: 108%;
	ascent-override: 70%;
	descent-override: 30%;
	src:
		local("Carlito");
}

/* MONO */

@font-face {
	font-family: "fallback Courier New"; /* general websafe */
	size-adjust: 105%;
	src:
		local("Courier New");
}
@font-face {
	font-family: "fallback Droid Sans Mono"; /* Android */
	ascent-override: 86%;
	descent-override: 36%;
	src:
		local("Droid Sans Mono");
}
@font-face {
	font-family: "fallback Cousine"; /* ChromeOS */
	size-adjust: 105%;
	src:
		local("Cousine");
}



/* ====================================
	USER
==================================== */

@layer user {

/* -----------
	THEMES
----------- */

/* DEFINITIONS AND INITIALISATION */

@property --fore-colour {
	syntax: "<color>";
	inherits: true;
	initial-value: CanvasText;
}
@property --back-colour {
	syntax: "<color>";
	inherits: true;
	initial-value: Canvas;
}
@property --hot-colour {
	syntax: "<color>";
	inherits: true;
	initial-value: LinkText;
}
@property --cold-colour {
	syntax: "<color>";
	inherits: true;
	initial-value: VisitedText;
}
:root {
	--fore-colour: initial;
	--back-colour: initial;
	--hot-colour: initial;
	--cold-colour: initial;
}

/* THEME VARIABLES */

[data-theme="dark"] {
	--fore-colour: #fdffdc;
	--back-colour: #000627;
	--hot-colour: #ff6767;
	--cold-colour: #b9ab00;
}
[data-theme="goop"] {
	--fore-colour: #e0ffe0;
	--back-colour: #021;
	--hot-colour: #00bd97;
	--cold-colour: #90b400;
}
[data-theme="flame"] {
	--fore-colour: #f8f095;
	--back-colour: #203;
	--hot-colour: #fe1;
	--cold-colour: #ff842d;
}
[data-theme="plasm"] {
	--fore-colour: #fff8ff;
	--back-colour: #27003f;
	--hot-colour: #0f7;
	--cold-colour: #0df;
}
[data-theme="moss"] {
	--fore-colour: #def;
	--back-colour: #234;
	--hot-colour: #8f2;
	--cold-colour: #a0dfa0;
}
[data-theme="darker"] {
	--fore-colour: #bbb;
	--back-colour: #111;
	--hot-colour: #fff;
	--cold-colour: #fff;
}
[data-theme="light"] {
	--fore-colour: #002a36;
	--back-colour: #fffff0;
	--hot-colour: #9b208b;
	--cold-colour: #006363;
}
[data-theme="wine"] {
	--fore-colour: #215;
	--back-colour: #f8f0c7;
	--hot-colour: #000;
	--cold-colour: #a30000;
}
[data-theme="ash"] {
	--fore-colour: #33505a;
	--back-colour: #f6f7f8;
	--hot-colour: #da3B14; /* only meets WCAG AA compliance vs --back-colour */
	--cold-colour: #000;
}
[data-theme="dust"] {
	--fore-colour: #56170e;
	--back-colour: #fed;
	--hot-colour: #9d1b2d;
	--cold-colour: #103050;
}
[data-theme="mist"] {
	--fore-colour: #000;
	--back-colour: #f0faff;
	--hot-colour: #00614d;
	--cold-colour: #2a4f91;
}
[data-theme="silver"] {
	--fore-colour: #595959;
	--back-colour: #fff;
	--hot-colour: #000;
	--cold-colour: #000;
}
[data-theme="pico"] {
	--fore-colour: #00e436;
	--back-colour: #000;
	--hot-colour: #ff004d; /* only meets WCAG AA compliance vs --back-colour */
	--cold-colour: #29adff;
}
[data-theme="sepia"] {
	--fore-colour: #270a02;
	--back-colour: #ffe8bc;
	--hot-colour: #704214;
	--cold-colour: #704214;
}
[data-theme="abyss"] {
	--fore-colour: #ffa8a8;
	--back-colour: #01101f;
	--hot-colour: #ff6c7a;
	--cold-colour: #e574cb;
}
[data-theme="retro"] {
	--fore-colour: #c7eb40;
	--back-colour: #0a290a;
	--hot-colour: #8bbd1a;
	--cold-colour: #8bbd1a;
}
[data-theme="marrow"] {
	--fore-colour: #ffe5c4;
	--back-colour: #260000;
	--hot-colour: #ff697f;
	--cold-colour: #f5e07b;
}
[data-theme="org"] {
	--fore-colour: #211e20;
	--back-colour: #e9efec;
	--hot-colour: #085808;
	--cold-colour: #085808;
}
[data-theme="coalgas"] {
	--fore-colour: #f8faff;
	--back-colour: #011441;
	--hot-colour: #fee86b;
	--cold-colour: #c5d5ff;
}
[data-theme="root"] {
	--fore-colour: #d2dfca;
	--back-colour: #062a22;
	--hot-colour: #95b7a4;
	--cold-colour: #95b7a4;
}
[data-theme="natron"] {
	--fore-colour: #f5ebc5;
	--back-colour: #141100;
	--hot-colour: #f7e27f;
	--cold-colour: #aca06f;
}
[data-theme="gauze"] {
	--fore-colour: #2c0408;
	--back-colour: #fce0db;
	--hot-colour: #783738;
	--cold-colour: #783738;
}
[data-theme="mycelia"] {
	--fore-colour: #d5f2f3;
	--back-colour: #143739;
	--hot-colour: #84f5d9;
	--cold-colour: #98cbbe;
}
[data-theme="cellar"] {
	--fore-colour: #b9b5a8;
	--back-colour: #091120;
	--hot-colour: #859ed3;
	--cold-colour: #a8ae71;
}

/* -------------------
	FONT VARIABLES
------------------- */

[data-font="serif"] {
	--font-stack-body:
		Bitter,
		"fallback Georgia", "fallback Droid Serif", "fallback Caladea",
		Garamond, "Times New Roman", Times, serif;
}
[data-font="sans"] {
	--font-stack-body:
		"Fira Sans",
		"fallback Verdana", "fallback Droid Sans", "fallback Carlito",
		Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ====================== END USER */ }



/* ====================================
	RESET
==================================== */

@layer reset {

*,
::before,
::after {
	box-sizing: border-box;
}
button, select {
	font-family: inherit;
	font-size: 1em;
	color: inherit;
	background-color: unset;
	border: unset;
	user-select: none;
}
button > * {
	pointer-events: none;
}
fieldset {
	padding: unset;
	border: unset;
}
input[type="range"] {
	all: unset;
	outline: revert;
	font-size: 1em;
}
textarea {
	font-family: inherit;
	color: inherit;
	background-color: unset;
}
::marker {
	font-family: inherit;
}

/* ===================== END RESET */ }



/* ====================================
	UTILITIES
==================================== */

@layer utilities {

[hidden] {
	display: none;
}
[disabled] {
	cursor: not-allowed;
}
[disabled] {
	opacity: 0.5;
}
.visually-hidden {
	block-size: 1px;
	inline-size: 1px;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	clip-path: inset(50%);
}
.pre-initialised-control {
	visibility: hidden;
}
#svg-defs {
	position: absolute;
	block-size: 0;
	inline-size: 0;
}
@media (forced-colors: active) or (prefers-contrast: more) {
	/*
	In Firefox, the colour patch can be as follows
	because the browser automatically applies forced-colours in forced-colours mode,
	but Safari and Chrome don't change anything automatically,
	so all forced-colors changed need to be explicit here.
		--control-default-colour: CanvasText;
		--control-interacted-colour: VisitedText;
		--nav-link-default-colour: CanvasText;
		--box-border-colour: CanvasText;
		--icon-main-colour: CanvasText;
		--icon-accent-colour: CanvasText;
	*/
	:root {
		--text-colour: CanvasText;
		--background-colour: Canvas;

		--text-link-default-colour: LinkText;
		--text-link-visited-colour: VisitedText;
		--text-link-active-text-colour: ActiveText;
		--text-link-active-background-colour: transparent;

		--title-text-colour: CanvasText;
		--title-background-colour: Canvas;

		--control-default-colour: CanvasText;
		--control-interacted-colour: VisitedText;
		--focus-ring-colour: revert;

		--selection-text-colour: revert;
		--selection-background-colour: revert;
		--scrollbar-thumb-colour: revert;
		--scrollbar-gutter-colour: revert;

		--box-border-colour: CanvasText;
		--scroll-shadow-colour: CanvasText;

		--nav-link-default-colour: CanvasText;
		--nav-link-current-page-colour: VisitedText;
		--nav-link-navigating-colour: LinkText;

		--icon-main-colour: CanvasText;
		--icon-accent-colour: CanvasText;

		--line-width: 2px;
		--control-depth: 0;
	}
	:focus-visible {
		outline: revert;
	}
	.setting-toggle::before {
		border-color: Canvas;
		outline-color: CanvasText;
	}
	/* at :root font-size 100%, 43.75rem = 700px */
	@media (min-width: 43.75rem) {
		.series {
			border-block-start-width: var(--line-width);
			border-block-start-style: solid;
			border-block-start-color: var(--box-border-colour);
		}
	}
}

/* ================= END UTILITIES */ }



/* ====================================
	DEFAULTS
==================================== */

@layer defaults {

/* --------------
	VARIABLES
-------------- */

/* GENERAL */

:root {
	--px-to-rem-260px: 16.25rem;
	--px-to-rem-500px: 31.25rem;
	--px-to-rem-600px: 37.5rem;
	--px-to-rem-700px: 43.75rem;
	--px-to-rem-800px: 50rem;
	--px-to-rem-1200px: 75rem;
	--px-to-rem-1240px: 77.5rem;

	--widescreen-max-inline-size: var(--px-to-rem-1200px);
	--main-column-max-inline-size: var(--px-to-rem-800px);
	--gap-size: 0.5rem;
	--main-column-padding: calc(2 * var(--gap-size));

	--meta-font-size: 1em;
	--font-stack-mono:
		"Fira Mono",
		"fallback Courier New", "fallback Droid Sans Mono", "fallback Cousine",
		monospace;

	--seek-bar-thumb-size: 1em;
	--control-depth: 0.35em;

	--line-width: 1px;
	--text-underline-offset: 0.15em;
}

/* COLOUR PATCH */

:root {
	--text-colour: var(--fore-colour);
	--background-colour: var(--back-colour);

	--text-link-default-colour: var(--hot-colour);
	--text-link-visited-colour: var(--cold-colour);
	--text-link-active-text-colour: var(--back-colour);
	--text-link-active-background-colour: var(--cold-colour);

	--title-text-colour: var(--back-colour);
	--title-background-colour: var(--fore-colour);

	--control-default-colour: var(--hot-colour);
	--control-interacted-colour: var(--cold-colour);
	--focus-ring-colour: var(--cold-colour);

	--selection-text-colour: var(--back-colour);
	--selection-background-colour: var(--cold-colour);
	--scrollbar-thumb-colour: var(--hot-colour);
	--scrollbar-gutter-colour: var(--back-colour);

	--box-border-colour: var(--fore-colour);
	--scroll-shadow-colour: var(--hot-colour);

	--nav-link-default-colour: var(--fore-colour);
	--nav-link-current-page-colour: var(--cold-colour);
	--nav-link-navigating-colour: var(--hot-colour);

	--icon-main-colour: var(--cold-colour);
	--icon-accent-colour: var(--hot-colour);
}

/* ------------
	GENERAL
------------ */

* {
	scrollbar-color: var(--scrollbar-thumb-colour) var(--scrollbar-gutter-colour);
}
:focus-visible {
	outline-width: var(--line-width);
	outline-style: solid;
	outline-color: var(--focus-ring-colour);
	outline-offset: var(--gap-size);
}
::selection {
	color: var(--selection-text-colour);
	background-color: var(--selection-background-colour);
}
:root {
	font-size: 100%;
	transition-property: --fore-colour, --back-colour, --hot-colour, --cold-colour;
	transition-duration: 1s;
}
body {
	margin: 0;
	color: var(--text-colour);
	background-color: var(--background-colour);
	text-orientation: upright;
	font-family: var(--font-stack-body);
	line-height: 1.5;
}
#container {
	margin-inline: auto;
	padding-block-end: 2em;
	padding-inline: var(--main-column-padding);
	max-inline-size: var(--main-column-max-inline-size);
}
h1 {
	margin-block-start: 0.2em;
	margin-block-end: 0;
	font-size: 3.5em;
	text-align: center;
	letter-spacing: 0.15em;
}
h2 {
	margin-block-start: 0.9em;
	margin-block-end: 0.7em;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}
h1, h2 {
	text-transform: uppercase;
	font-feature-settings: "case";
	text-wrap-style: balance;
}
h3 {
	margin-block-start: 2.4em;
	margin-block-end: 0.4em;
	text-wrap-style: balance;
	& + * {
		margin-block-start: 0;
	}
}
.timestamp {
	font-variant-numeric: tabular-nums;
}
.flex-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin-block: 1em;
	padding-inline: 1em;
	list-style-type: "";
}
ul {
	list-style-type: disc;
}
a:link {
	color: var(--text-link-default-colour);
	text-decoration-thickness: 0.075em;
	text-underline-offset: var(--text-underline-offset);
}
a:visited {
	color: var(--text-link-visited-colour);
}
a:active {
	color: var(--text-link-active-text-colour);
	background-color: var(--text-link-active-background-colour);
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.content-notes {
	& > summary {
		list-style-type: "";
		display: inline-block;
		color: var(--control-default-colour);
		&::-webkit-details-marker {
			display: none;
		}
		&::before {
			content: "\2192"; /* right arrow */
			inline-size: 1em;
			display: inline-block;
			text-align: center;
		}
	}
	&[open] > summary {
		color: var(--control-interacted-colour);
		&::before {
			content: "\2193"; /* down arrow */
		}
	}
}
.svg-icon {
	display: block;
	block-size: 2em;
	inline-size: auto;
	fill: none;
	stroke: var(--icon-main-colour);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.svg-accent-stroke { /* must be outside .svg-icon, because it's applied in the <symbol> elements, not in the <svg class="svg-icon"> elements */
	stroke: var(--icon-accent-colour);
}
.waveform-spacer {
	margin-block: 3em;
	margin-inline: auto;
	& + h3 {
		margin-block-start: 1em;
	}
}
.push-button {
	position: relative;
	top: calc(-1 * var(--control-depth));
	padding-block-start: 0.5em;
	padding-block-end: 0.25em;
	padding-inline: 0.5em;
	color: var(--control-default-colour);
	border-width: var(--line-width);
	border-style: solid;
	border-color: var(--control-default-colour);
	box-shadow: 0 var(--control-depth) var(--control-default-colour);
	align-items: center;
	&:is(:active) {
		top: 0;
		color: var(--control-interacted-colour);
		border-color: var(--control-interacted-colour);
		box-shadow: unset;
	}
}
.icon-button-set {
	display: flex;
	gap: var(--gap-size);
	padding-block-start: var(--control-depth);
	padding-inline-start: 0;
	list-style-type: "";
	& .svg-icon {
		block-size: 1.5em;
		stroke: var(--control-default-colour);
	}
	& button {
		padding: 0.1em;
		&:active > .svg-icon {
			stroke: var(--control-interacted-colour);
		}
	}
}
[aria-pressed="true"] .unpressed-icon,
[aria-pressed="false"] .pressed-icon {
	opacity: 0;
}

/* ---------
	CODE
--------- */

code {
	font-family: var(--font-stack-mono);
}
:not(.code-block) > code {
	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-decoration-color: var(--box-border-colour);
	text-underline-offset: var(--text-underline-offset);
}
.code-block {
	padding-inline-start: var(--gap-size);
	border-inline-start-width: var(--line-width);
	border-inline-start-style: dashed;
	border-inline-start-color: var(--box-border-colour);
	overflow-x: auto;
	& > code {
		tab-size: 2ch;
	}
}
code var {
	font-style: normal;
}
code var::before {
	content: "[[\a0 ";
}
code var::after {
	content: "\a0 ]]";
}

/* CODE-BLOCK SCROLL SHADOW */

.code-block {
	--scroll-shadow-width: var(--gap-size);
	--scroll-shadow-cover-width: calc(2 * var(--scroll-shadow-width));
	--scroll-shadow-spacing: 1em;
	--scroll-shadow-gradient: repeating-linear-gradient(-45deg,
		transparent
			var(--scroll-shadow-spacing),
		var(--scroll-shadow-colour)
			var(--scroll-shadow-spacing)
			calc(var(--scroll-shadow-spacing) + 2 * var(--line-width)),
		transparent
			calc(var(--scroll-shadow-spacing) + 2 * var(--line-width))
			calc(2 * var(--scroll-shadow-spacing))
	);
	background-image:
		linear-gradient(var(--background-colour)),
		linear-gradient(var(--background-colour)),
		var(--scroll-shadow-gradient),
		var(--scroll-shadow-gradient);
	background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-size: var(--scroll-shadow-cover-width) 100%, var(--scroll-shadow-cover-width) 100%, var(--scroll-shadow-width) 100%, var(--scroll-shadow-width) 100%;
	background-attachment: local, local, scroll, scroll;
}

/* -----------
	PLAYER
----------- */

:is(#loaded-show, #queue):empty::after {
	content: "Queue is empty!\a Add shows in Booth or Archive.";
	display: block;
	font-style: italic;
	text-align: center;
	margin-block-start: 0.5em;
	margin-block-end: 0.3em;
	white-space: pre;
}
#loaded-show > .show-content {
	padding-inline-end: var(--gap-size);
}
.flat-player > .show-content {
	display: none;
}
#player-controls {
	display: grid;
	grid-template:
		"	seek-controls	seek-controls	"
		"	show-controls	audio-controls	" / auto min-content;
	row-gap: calc(var(--gap-size) + var(--control-depth));
	margin-block-end: var(--gap-size);
	margin-inline: unset;
	& > * {
		display: flex;
		gap: var(--gap-size);
	}
}
#seek-controls {
	grid-area: seek-controls;
}
#show-controls {
	grid-area: show-controls;
}
#audio-controls {
	grid-area: audio-controls;
}
#seek-bar {
	inline-size: 100%;
	padding-block-end: calc(var(--control-depth) * 0.6);
	&::-webkit-slider-thumb {
		block-size: var(--seek-bar-thumb-size);
		inline-size: var(--seek-bar-thumb-size);
		border-width: var(--line-width);
		border-radius: 50%;
		transform: translateY(calc(-1 * calc(var(--seek-bar-thumb-size) / 2 + var(--control-depth))));
	}
	&::-moz-range-thumb {
		block-size: var(--seek-bar-thumb-size);
		inline-size: var(--seek-bar-thumb-size);
		border-width:  var(--line-width);
		border-radius: 50%;
	}
}
#volume-control {
	--thumb-block-size: 1.2em;
	--thumb-inline-size: 0.75em;
	inline-size: 5em;
	padding-block-end: var(--control-depth);
	&::-webkit-slider-thumb {
		block-size: var(--thumb-block-size);
		inline-size: var(--thumb-inline-size);
		transform: translateY(-1em);
	}
	&::-moz-range-thumb {
		block-size: var(--thumb-block-size);
		inline-size: var(--thumb-inline-size);
	}
}
input[type="range"] {
	margin: 0;
	border-block-end-width: var(--line-width);
	border-block-end-style: solid;
	border-block-end-color: var(--box-border-colour);
	&::-moz-range-progress {
		background-color: var(--control-default-colour);
		block-size: var(--line-width);
	}
	&::-moz-range-thumb {
		box-sizing: border-box;
		background-color: var(--background-colour);
		border-width: var(--line-width);
		border-style: solid;
		border-color: var(--control-default-colour);
		border-radius: 0;
		box-shadow: 0 var(--control-depth) var(--control-default-colour);
		transform: translateY(calc(-1 * var(--control-depth)));
	}
	&:active {
		&::-moz-range-thumb {
			border-color: var(--control-interacted-colour);
			box-shadow: 0 var(--control-depth) var(--control-interacted-colour);
		}
		&::-moz-range-progress {
			background-color: var(--control-interacted-colour);
		}
	}
}
input[type="range"] {
	&::-webkit-slider-runnable-track {
		background-color: var(--control-default-colour);
		block-size: var(--line-width);
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		background-color: var(--background-colour);
		border-width: var(--line-width);
		border-style: solid;
		border-color: var(--control-default-colour);
		box-shadow: 0 var(--control-depth) var(--control-default-colour);
	}
}
input[type="range"]:active {
	&::-webkit-slider-thumb {
		border-color: var(--control-interacted-colour);
		box-shadow: 0 var(--control-depth) var(--control-interacted-colour);
	}
	&::-webkit-slider-runnable-track {
		background-color: var(--control-interacted-colour);
		block-size: var(--line-width);
	}
}

/* --------
	NAV
-------- */

#main-nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--gap-size);
	border-block-width: var(--line-width);
	border-block-style: solid;
	border-block-color: var(--box-border-colour);
	& > ul {
		display: flex;
		list-style-type: "";
		padding-inline-start: 0;
		text-align: center;
		flex-direction: column;
		gap: var(--gap-size);
	}
	& a {
		display: inline-flex;
		flex-direction: column;
		padding-block-start: 0.3em;
		padding-inline: 0.2em;
		align-items: center;
		gap: 0.2em;
		text-decoration: none;
		user-select: none;
		&:is(:link, :visited) {
			color: var(--nav-link-default-colour);
		}
		&[aria-current="page"] {
			color: var(--nav-link-current-page-colour);
		}
		&:is(:hover, :focus, :active) {
			color: var(--nav-link-navigating-colour);
			background-color: unset;
		}
	}
}

/* -------------
	SECTIONS
------------- */

main {
	& > *,
	& > :target ~ :last-child,
	& > :has(:target) ~ :last-child {
		display: none;
	}
	& > :last-child,
	& > :target,
	& > :has(:target) {
		display: block;
	}
}

/* ----------
	BOOTH
---------- */

#queue {
	display: grid;
	row-gap: 1em;
	margin-block-start: var(--gap-size);
	& > li {
		display: flex;
		gap: var(--gap-size);
		&:first-child [data-action="move-up"],
		&:last-child [data-action="move-down"] {
			visibility: hidden;
		}
	}
}
.show-position-controls {
	flex-direction: column;
}
#queue-controls {
	z-index: 3;
	position: sticky;
	inset-block-start: 0;
	margin-block-start: 0;
	margin-block-end: var(--gap-size);
	padding-block-start: var(--control-depth);
	padding-block-end: var(--gap-size);
	background-color: var(--background-colour);
	border-block-end-width: var(--line-width);
	border-block-end-style: solid;
	border-block-end-color: var(--box-border-colour);
}
textarea {
	block-size: 10lh;
	inline-size: 100%;
	display: block;
	margin-block: 1em;
	padding-block-start: 0.5em;
	padding-block-end: 0.25em;
	padding-inline: 0.5em;
	font-size: 1em;
	font-family: var(--font-stack-mono);
	line-height: 1;
	border-width: var(--line-width);
	border-style: solid;
	border-color: var(--box-border-colour);
	border-block-start-width: calc(var(--control-depth) + var(--line-width));
	resize: none;
}
#import-error-list {
	overflow-wrap: break-word;
}

/* ------------
	ARCHIVE
------------ */

#series-list {
	padding-inline-start: 0;
	list-style-type: "";
	& .series {
		display: grid;
		border-block-end-width: var(--line-width);
		border-block-end-style: solid;
		border-block-end-color: var(--box-border-colour);
	}
	& header {
		margin-block-end: calc(-1 * var(--line-width));
		border-block-end-width: var(--line-width);
		border-block-end-style: solid;
		border-block-end-color: var(--box-border-colour);
	}
	& > :last-child > .return-links {
		margin-block-end: 0;
	}
}
.return-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-block-start: 1lh;
	margin-block-end: 3lh;
	text-align: center;
}
.series-content {
	padding: var(--gap-size);
	& > * {
		margin-block: 0;
	}
}
[data-action="add-series"] {
	margin-block-end: var(--gap-size);
	margin-inline-start: var(--gap-size);
}
.series-heading,
.show-heading {
	font-size: 1em;
	margin-block: 0;
	padding-block-start: 0.35em;
	padding-block-end: 0.1em;
	padding-inline: 0.5em;
	color: var(--title-text-colour);
	background-color: var(--title-background-colour);
}
.series-source {
	margin-block-start: 0.3em;
	font-size: var(--meta-font-size);
}
.show-list {
	list-style-type: "";
	margin-inline: var(--gap-size);
	padding-inline-start: 0;
}
#series-list .show-list {
	--archive-show-list-padding: calc(1.5em + var(--gap-size));
	padding-inline-start: var(--archive-show-list-padding);
}
.show-heading {
	display: inline-block;
}
.show-content {
	padding-block: var(--gap-size);
	padding-inline-start: var(--gap-size);
	& > * {
		margin-block: 0.25em;
	}
	& > :first-child {
		margin-block-start: 0;
	}
	& > :last-child {
		margin-block-end: 0;
	}
}
[data-action="add-show"] {
	margin-block-end: var(--gap-size);
	margin-inline-start: var(--gap-size);
}
[data-action="add-series"], [data-action="add-show"] {
	margin-block-start: calc(var(--control-depth) / 2);
}

/* ---------
	NEWS
--------- */

#feed-url {
	text-align: center;
}
#news-list {
	padding-inline-start: 0;
	list-style-type: "";
	&:empty::after {
		content: attr(data-empty);
		display: block;
		text-align: center;
		font-style: italic;
	}
	& > :first-child h3 {
		margin-block-start: 1em;
	}
}
.news-item-published {
	display: block;
	margin-block-end: 0.5em;
}
.news-item-content {
	margin-inline-start: 1em;
}

/* ----------
	ABOUT
---------- */

#q-a {
	& > dt {
		font-weight: bold;
	}
	& > dd {
		margin-inline-start: 1em;
	}
}

/* -------------
	SETTINGS
------------- */

#settings > ul {
	padding-inline-start: 0;
	list-style-type: "";
}
.setting-toggle {
	display: grid;
	grid-template-columns: 1lh auto;
	align-items: center;
	gap: 0.5em;
	margin-inline-start: 1em;
	padding-block-start: 0.25em;
	text-align: start;
	user-select: auto;
	&::before {
		--toggle-gutter-size: var(--line-width);
		content: "";
		display: grid;
		place-content: center;
		aspect-ratio: 1;
		block-size: 1lh;
		text-align: center;
		color: transparent;
		border-width: var(--toggle-gutter-size);
		border-style: solid;
		border-color: var(--background-colour);
		outline-width: var(--line-width);
		outline-style: solid;
		outline-color: var(--control-default-colour);
		transform: translateY(-0.15em);
	}
	&:active::before {
		outline-color: var(--control-interacted-colour);
	}
	&[aria-pressed="true"] {
		&::before {
			color: var(--control-default-colour);
			background-color: var(--control-default-colour);
		}
		&:active::before {
			color: var(--control-interacted-colour);
			background-color: var(--control-interacted-colour);
		}
	}
}
select {
	margin-inline-start: 1em;
	padding-block-start: 0.5em;
	padding-block-end: 0.25em;
	padding-inline: 0.5em;
	color: var(--control-default-colour);
	border-width: var(--line-width);
	border-style: solid;
	border-color: var(--control-default-colour);
	user-select: none;
	&:is(:active, :open) {
		color: var(--control-interacted-colour);
		border-color: var(--control-interacted-colour);
	}
}

/* ----------------------------------
	CONTACT/LINKS/CREDITS/WELCOME
---------------------------------- */

#contact, #links, #credits, #welcome {
	text-align: center;
}
#schedule-container {
	text-wrap-style: balance;
}

/* -----------------
	RESPONSIVITY
----------------- */

/* site is fine down to 300px wide, then various things overflow horizontally around 275px */

/* at :root font-size 100%, 31.25rem = 500px */
@media (min-width: 31.25rem) {
	/* GENERAL */
	body {
		--meta-font-size: 0.75em;
		font-size: 1.2em;
	}
	h1 {
		margin-block-end: 0.1em;
	}
	h1, h2 {
		--shadow-1: 0.07em 0.07em 0;
		--shadow-2: -0.05em -0.05em 0;
		--shadow-3: 0.1em 0.09em 0;
		text-shadow: var(--shadow-1) var(--background-colour), var(--shadow-2) var(--background-colour), var(--shadow-3) var(--text-colour);
		&::selection, & ::selection {
			text-shadow: var(--shadow-1) var(--selection-background-colour), var(--shadow-2) var(--selection-background-colour), var(--shadow-3) var(--selection-text-colour);
		}
	}
	.code-block > code {
		tab-size: 3ch;
	}

	/* NAV */
	#main-nav {
		display: block;
		padding-block-start: 0.2em;
		& > ul {
			inline-size: unset;
			flex-direction: row;
			justify-content: center;
			margin-inline: auto;
		}
		& a {
			flex-direction: row;
			padding-block: 0.1em;
			span {
				margin-block-start: 0.2em;
			}
		}
	}

	/* BOOTH */
	.show-position-controls .svg-icon {
		block-size: 1em;
	}

	/* ARCHIVE */
	#series-list .show-list {
		--archive-show-list-padding: calc(1em + var(--gap-size));
	}
}

/* at :root font-size 100%, 37.5rem = 600px */
@media (min-width: 37.5rem) {
	/* GENERAL */
	.flex-list {
		padding-inline: 0;
	}
	.code-block > code {
		tab-size: 4ch;
	}

	/* PLAYER */
	#player-controls {
		grid-template:
			"show-controls	seek-controls	audio-controls" / min-content auto min-content;
		column-gap: var(--gap-size);
	}
}

/* at :root font-size 100%, 43.75rem = 700px */
@media (min-width: 43.75rem) {
	/* ARCHIVE */
	.series-heading {
		font-size: 1em;
		text-align: end;
	}
	#series-list {
		& .series {
			grid-template-columns: var(--px-to-rem-260px) auto;
		}
		& header {
			position: sticky;
			inset-block-start: 0;
			z-index: 3;
			align-self: start;
			margin-inline-end: calc(-1 * var(--line-width));
			background-color: unset;
			border-block-end: unset;
			border-inline-end-width: var(--line-width);
			border-inline-end-style: solid;
			border-inline-end-color: var(--box-border-colour);
		}
		& .show-list {
			margin-inline: 0;
			padding-inline: 0;
			border-inline-start-width: var(--line-width);
			border-inline-start-style: solid;
			border-inline-start-color: var(--box-border-colour);
		}
	}
	.return-links {
		margin-block-end: 1lh;
	}
	.series-content {
		padding-inline-start: 0;
	}
	[data-action="add-series"] {
		margin-inline-start: 0;
	}
}

/* at :root font-size 100%, 77.5rem = 1240px */
@media (min-width: 77.5rem) {
	/* GENERAL */
	#container {
		max-inline-size: var(--widescreen-max-inline-size);
		display: grid;
		grid-template:
			"	player	heading		"
			"	player	nav			"
			"	player	sections	";
		column-gap: var(--gap-size);
	}
	#container > header {
		grid-area: heading;
	}

	/* PLAYER */
	#player-container {
		grid-area: player;
		block-size: max-content;
		position: sticky;
		inline-size: calc(var(--widescreen-max-inline-size) - var(--main-column-max-inline-size) - var(--gap-size));
		inset-block-start: var(--gap-size);
		border-width: var(--line-width);
		border-style: solid;
		border-color: var(--box-border-colour);
	}
	#player-app {
		overflow-y: auto;
		max-block-size: calc(100vh - calc(2 * var(--gap-size)));
	}
	#loaded-show > .show-heading {
		display: block;
	}
	#player-controls {
		margin: var(--gap-size);
		grid-template:
			"	seek-controls	seek-controls	"
			"	show-controls	audio-controls	" / auto min-content;
	}

	/* NAV */
	#main-nav {
		grid-area: nav;
	}

	/* SECTIONS */
	main {
		grid-area: sections;
		inline-size: calc(var(--main-column-max-inline-size) - 2 * var(--main-column-padding));
	}

	/* BOOTH */
	#queue {
		margin-inline: 0;
	}
}

/* ================== END DEFAULTS */ }
