/*
USER
	THEME
	FONTS

RESET

UTILITIES

DEFAULTS
	VARIABLES
	FONTS
	
	GENERAL
	RADIO
	NAV
	SECTIONS
	
	BOOTH
	ARCHIVE
	ABOUT
	STREAMING
	SETTINGS
	CALL IN/LINKS/CREDITS/WELCOME
	FEED
*/

@layer reset, defaults, user, utilities;



/* ====================================
	USER
==================================== */

@layer user {

/* -----------
	THEMES
----------- */

/* THEME VARIABLES */

[data-theme="dark"] {
	--fore-colour: #fdffdc;
	--back-colour: #000627;
	--hot-colour: #ff6767;
	--cold-colour: #b9ab00;
}
[data-theme="goop"] {
	--fore-colour: #e0ffe0;
	--back-colour: #021;
	--hot-colour: #00bd97;
	--cold-colour: #90b400;
}
[data-theme="flame"] {
	--fore-colour: #f8f095;
	--back-colour: #281800;
	--hot-colour: #fe1;
	--cold-colour: #ff842d;
}
[data-theme="plasm"] {
	--fore-colour: #fff8ff;
	--back-colour: #27003f;
	--hot-colour: #0f7;
	--cold-colour: #0df;
}
[data-theme="moss"] {
	--fore-colour: #def;
	--back-colour: #234;
	--hot-colour: #8f2;
	--cold-colour: #a0dfa0;
}
[data-theme="darker"] {
	--fore-colour: #bbb;
	--back-colour: #111;
	--hot-colour: #fff;
	--cold-colour: #fff;
}
[data-theme="light"] {
	--fore-colour: #002a36;
	--back-colour: #fffff0;
	--hot-colour: #9b208b;
	--cold-colour: #006363;
}
[data-theme="wine"] {
	--fore-colour: #215;
	--back-colour: #f8f0c7;
	--hot-colour: #000;
	--cold-colour: #a30000;
}
[data-theme="ash"] {
	--fore-colour: #33505a;
	--back-colour: #f6f7f8;
	--hot-colour: #d40;
	--cold-colour: #000;
}
[data-theme="dust"] {
	--fore-colour: #56170e;
	--back-colour: #fed;
	--hot-colour: #9d1b2d;
	--cold-colour: #103050;
}
[data-theme="mist"] {
	--fore-colour: #000;
	--back-colour: #f0faff;
	--hot-colour: #00614d;
	--cold-colour: #3446b4;
}
[data-theme="silver"] {
	--fore-colour: #595959;
	--back-colour: #fff;
	--hot-colour: #000;
	--cold-colour: #000;
}
[data-theme="pico"] {
	--fore-colour: #00e436;
	--back-colour: #000;
	--hot-colour: #ff004d;
	--cold-colour: #29adff;
}
[data-theme="sepia"] {
	--fore-colour: #270a02;
	--back-colour: #ffe8bc;
	--hot-colour: #704214;
	--cold-colour: #704214;
}
[data-theme="abyss"] {
	--fore-colour: #ffa8a8;
	--back-colour: #01101f;
	--hot-colour: #ff6c7a;
	--cold-colour: #e574cb;
}
[data-theme="retro"] {
	--fore-colour: #c7eb40;
	--back-colour: #0a290a;
	--hot-colour: #8bbd1a;
	--cold-colour: #8bbd1a;
}
[data-theme="marrow"] {
	--fore-colour: #ffe5c4;
	--back-colour: #260000;
	--hot-colour: #ff5773;
	--cold-colour: #f5e07b;
}
[data-theme="org"] {
	--fore-colour: #211e20;
	--back-colour: #e9efec;
	--hot-colour: #085808;
	--cold-colour: #085808;
}
[data-theme="coalgas"] {
	--fore-colour: #f7f9ff;
	--back-colour: #011542;
	--hot-colour: #fee86a;
	--cold-colour: #c4d5ff;
}
[data-theme="root"] {
	--fore-colour: #d2dfca;
	--back-colour: #0d2a22;
	--hot-colour: #96b7a5;
	--cold-colour: #96b7a5;
}
[data-theme="natron"] {
	--fore-colour: #f6ecc5;
	--back-colour: #160d00;
	--hot-colour: #aaa070;
	--cold-colour: #f7e280;
}
[data-theme="gauze"] {
	--fore-colour: #2a0d0c;
	--back-colour: #fce0db;
	--hot-colour: #783737;
	--cold-colour: #783737;
}
[data-theme="mycelia"] {
	--fore-colour: #d5f2f3;
	--back-colour: #163538;
	--hot-colour: #84f5da;
	--cold-colour: #9adbce;
}
[data-theme="cellar"] {
	--fore-colour: #b9b5a7;
	--back-colour: #010d1c;
	--hot-colour: #cfab7e;
	--cold-colour: #829bd2;
}

/* -------------------
	FONT VARIABLES
------------------- */

[data-font="serif"] {
	--font-stack: Bitter, Georgia, Garamond, "Times New Roman", Times, serif;
}
[data-font="sans"] {
	--font-stack: "Fira Sans", Tahoma, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ====================== END USER */ }



/* ====================================
	RESET
==================================== */

@layer reset {

*,
::before,
::after {
	box-sizing: border-box;
}

/* ===================== END RESET */ }



/* ====================================
	UTILITIES
==================================== */

@layer utilities {

[hidden] {
	display: none;
}
.visually-hidden {
	clip-path: inset(50%);
	block-size: 1px;
	inline-size: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

/* ================= END UTILITIES */ }



/* ====================================
	DEFAULTS
==================================== */

@layer defaults {

/* --------------
	VARIABLES
-------------- */

:root {
	--widescreen-max-inline-size: 1200px;
	--main-column-max-inline-size: 800px;
	--gap-size: 10px;
	--main-column-padding: calc(2 * var(--gap-size));

	--meta-font-size: 0.7em;

	--seek-bar-thumb-size: 1em;
	--control-depth: 0.3em;

	--line-width: 1px;
}

/* ----------
	FONTS
---------- */

/* SERIF */

@font-face {
	font-family: Bitter;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("./fonts/bitter-regular-weirdwaves.woff2?v=2024-06-07") format("woff2");
}
@font-face {
	font-family: Bitter;
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url("./fonts/bitter-bold-weirdwaves.woff2?v=2024-06-07") format("woff2");
}
@font-face {
	font-family: Bitter;
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	src: url("./fonts/bitter-italic-weirdwaves.woff2?v=2024-06-07") format("woff2");
}
@font-face {
	font-family: Bitter;
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	src: url("./fonts/bitter-bold-italic-weirdwaves.woff2?v=2024-06-07") format("woff2");
}

/* SANS */

@font-face {
	font-family: "Fira Sans";
	font-weight: normal;
	font-style: normal;
	font-feature-settings: "zero" 1;
	font-display: swap;
	src: url("./fonts/fira-sans-regular-weirdwaves.woff2?v=2024-06-07") format("woff2");
}
@font-face {
	font-family: "Fira Sans";
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url("./fonts/fira-sans-bold-weirdwaves.woff2?v=2024-06-07") format("woff2");
}
@font-face {
	font-family: "Fira Sans";
	font-weight: normal;
	font-style: italic;
	font-feature-settings: "zero" 1;
	font-display: swap;
	src: url("./fonts/fira-sans-italic-weirdwaves.woff2?v=2024-06-07") format("woff2");
}
@font-face {
	font-family: "Fira Sans";
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	src: url("./fonts/fira-sans-bold-italic-weirdwaves.woff2?v=2024-06-07") format("woff2");
}

/* ------------
	GENERAL
------------ */

::selection {
	color: var(--back-colour);
	background-color: var(--cold-colour);
}
body {
	margin: 0;
	color: var(--fore-colour);
	background-color: var(--back-colour);
	text-orientation: upright;
	font-family: var(--font-stack);
	line-height: 1.4;
	accent-color: var(--cold-colour);
}
#container {
	margin-inline: auto;
	padding-block-end: 2em;
	padding-inline: var(--main-column-padding);
	max-inline-size: var(--main-column-max-inline-size);
}
#svg-defs {
	position: absolute;
	z-index: -1;
}
[hidden] {
	display: none !important;
}
h1 {
	margin-block-start: 0.2em;
	margin-block-end: 0.1em;
	font-size: 3.5em;
	text-align: center;
	letter-spacing: 0.15em;
}
h2 {
	margin-block-start: 0.2em;
	padding-block-start: 20px;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}
h1, h2 {
	text-transform: uppercase;
	font-feature-settings: "case" 1;
	text-wrap: balance;
}
h3 {
	margin-block-start: 2.4em;
	margin-block-end: 0.4em;
	& + * {
		margin-block-start: 0;
	}
}
.timestamp {
	font-variant-numeric: tabular-nums;
}
.flex-list {
	display: flex;
	flex-wrap: wrap;
	margin-block: 1em;
	padding-inline-start: 0;
	list-style-type: "";
	align-items: center;
	justify-content: center;
	gap: 1em;
}
:is(a, a *)::selection {
	background-color: var(--hot-colour);
}
a:link {
	color: var(--hot-colour);
}
a:visited {
	color: var(--cold-colour);
	:is(&, & *)::selection {
		background-color: var(--cold-colour);
	}
}
a:active {
	color: var(--back-colour);
	background-color: var(--hot-colour);
}
[rel~="external"]::after {
	content: "\2206"; /* increment */
	display: inline-block;
	font-variant-position: super;
}
.uppercase {
	text-transform: uppercase;
}
abbr[title] {
	text-decoration: none;
	cursor: help;
}
.content-notes > summary {
	display: inline-block;
	color: var(--hot-colour);
	list-style-type: "";
	cursor: pointer;
	&::-webkit-details-marker {
		display: none;
	}
	&::after {
		content: "\2026"; /* ellipsis */
	}
}
.content-notes[open] > summary {
	color: var(--cold-colour);
	&::after {
		content: ":";
	}
}
.svg-icon {
	display: block;
	block-size: 2em;
	inline-size: auto;
	fill: none;
	stroke: var(--cold-colour);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	vector-effect: non-scaling-stroke;
}
button {
	font-family: inherit;
	font-size: 1em;
	color: inherit;
	background-color: unset;
	cursor: pointer;
	* {
		pointer-events: none;
	}
}
.push-button {
	position: relative;
	top: calc(var(--control-depth) * -1);
	padding-block-start: 0.5em;
	padding-block-end: 0.25em;
	padding-inline: 0.5em;
	color: var(--hot-colour);
	border-width: var(--line-width);
	border-style: solid;
	border-color: var(--hot-colour);
	box-shadow: 0 var(--control-depth) var(--hot-colour);
	align-items: center;
	&:is(:active, [aria-pressed="true"]) {
		top: 0;
		color: var(--cold-colour);
		border-color: var(--cold-colour);
		box-shadow: 0 0;
	}
	&[aria-pressed="true"] {
		pointer-events: none;
	}
}
.icon-button-set {
	display: flex;
	gap: var(--gap-size);
	padding-block-start: var(--control-depth);
	padding-inline-start: 0;
	list-style-type: "";
	button {
		block-size: max-content;
		padding: 0.1em;
		&:active > .svg-icon {
			stroke: var(--cold-colour);
		}
	}
	.svg-icon {
		block-size: 1.5em;
		stroke: var(--hot-colour);
	}
}

/* ----------
	RADIO
---------- */

#sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
}
#radio-app {
	inline-size: 100%;
}
:is(#loaded-show, #playlist):empty::after {
	content: "Playlist is empty!\a Add shows in Booth or Archive.";
	display: block;
	font-style: italic;
	text-align: center;
	margin-block-start: 0.5em;
	padding-block-end: 0.3em;
	white-space: pre;
}
.show-content {
	#loaded-show > & {
		padding-inline-end: var(--gap-size);
	}
	.flat-radio > & {
		display: none;
	}
}
#radio-controls {
	display: grid;
	grid-template:
		"	seek-controls	seek-controls	"
		"	show-controls	audio-controls	" / auto min-content;
	margin-block-end: var(--gap-size);
	row-gap: calc(var(--gap-size) + var(--control-depth));
	& > div {
		display: flex;
		gap: var(--gap-size);
	}
}
#seek-controls {
	grid-area: seek-controls;
}
#show-time {
	white-space: nowrap;
}
#show-controls {
	grid-area: show-controls;
}
#audio-controls {
	grid-area: audio-controls;
}
#seek-bar {
	inline-size: 100%;
	padding-block-end: calc(var(--control-depth) * 0.6);
	&::-webkit-slider-thumb {
		inline-size: var(--seek-bar-thumb-size);
		block-size: var(--seek-bar-thumb-size);
		border-radius: 50%;
		transform: translateY(calc(-1 * calc(var(--seek-bar-thumb-size) / 2 + var(--control-depth))));
	}
	&::-moz-range-thumb {
		block-size: 1em;
		inline-size: 1em;
		border-radius: 50%;
	}
}
#volume-control {
	inline-size: 5em;
	padding-block-end: var(--control-depth);
	&::-webkit-slider-thumb {
		inline-size: 0.75em;
		block-size: 1.2em;
		transform: translateY(-1em);
	}
	&::-moz-range-thumb {
		block-size: 1.2em;
		inline-size: 0.75em;
	}
}
input[type="range"] {
	all: unset;
	outline: revert;
	cursor: pointer;
	margin: 0;
	font-size: 1em;
	border-block-end-width: var(--line-width);
	border-block-end-style: solid;
	border-block-end-color: var(--hot-colour);
	&::-moz-range-progress {
		background-color: var(--hot-colour);
		block-size: var(--line-width);
	}
	&::-moz-range-thumb {
		box-sizing: border-box;
		background-color: var(--back-colour);
		border-width: var(--line-width);
		border-style: solid;
		border-color: var(--hot-colour);
		border-radius: 0;
		box-shadow: 0 var(--control-depth) var(--hot-colour);
		transform: translateY(calc(var(--control-depth) * -1));
	}
	&:active {
		&::-moz-range-thumb {
			border-color: var(--cold-colour);
			box-shadow: 0 var(--control-depth) var(--cold-colour);
		}
		&::-moz-range-progress {
			background-color: var(--cold-colour);
		}
	}
}
input[type="range"] {
	&::-webkit-slider-runnable-track {
		background-color: var(--hot-colour);
		block-size: var(--line-width);
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		background-color: var(--back-colour);
		border-width: var(--line-width);
		border-style: solid;
		border-color: var(--hot-colour);
		box-shadow: 0 var(--control-depth) var(--hot-colour);
	}
}
input[type="range"]:active {
	&::-webkit-slider-thumb {
		border-color: var(--cold-colour);
		box-shadow: 0 var(--control-depth) var(--cold-colour);
	}
	&::-webkit-slider-runnable-track {
		background-color: var(--cold-colour);
		block-size: var(--line-width);
	}
}

/* --------
	NAV
-------- */

#main-nav {
	display: flex;
	justify-content: space-evenly;
	padding-block-start: 0.2em;
	border-block-width: var(--line-width);
	border-block-style: solid;
	border-block-color: var(--fore-colour);
	& > ul {
		display: flex;
		inline-size: 33%;
		list-style-type: "";
		padding-inline-start: 0;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		gap: var(--gap-size);
	}
	a {
		display: inline-flex;
		flex-direction: column;
		padding-block-start: 0.2em;
		padding-inline: 0.2em;
		align-items: center;
		gap: 0.2em;
		&[href^="#"] {
			text-decoration: none;
			user-select: none;
			&:is(:link, :visited) {
				color: unset;
			}
			&[aria-current="page"] {
				color: var(--cold-colour);
			}
			&:is(:hover, :focus, :active) {
				color: var(--hot-colour);
				background-color: unset;
			}
		}
		&:not([href^="#"]) {
			&:link use {
				stroke: var(--hot-colour);
			}
			&:visited use {
				stroke: var(--cold-colour);
			}
			&:active use {
				stroke: var(--back-colour);
			}
		}
		& > span {
			white-space: nowrap;
		}
	}
}
.svg-hot-stroke {
	stroke: var(--hot-colour);
}

/* -------------
	SECTIONS
------------- */

main {
	& > *,
	& > :target ~ :last-child,
	& > :has(:target) ~ :last-child {
		display: none;
	}
	& > :last-child,
	& > :target,
	& > :has(:target) {
		display: block;
	}
}

/* ----------
	BOOTH
---------- */

#playlist {
	margin-block: 0;
	& > li {
		display: flex;
		gap: var(--gap-size);
		&:not(:first-child) {
			margin-block-start: 1em;
		}
		&:first-child [data-action="move-up"],
		&:last-child [data-action="move-down"] {
			visibility: hidden;
		}
	}
}
.show-position-controls {
	flex-direction: column;
}
#playlist-controls {
	z-index: 3;
	position: sticky;
	inset-block-start: 0;
	margin-block-start: 0;
	margin-block-end: var(--gap-size);
	padding-block-start: calc(var(--gap-size) + var(--control-depth));
	padding-block-end: var(--gap-size);
	background-color: var(--back-colour);
	border-block-end-width: var(--line-width);
	border-block-end-style: solid;
	border-block-end-color: var(--fore-colour);
}
#clear-playlist-controls {
	inline-size: 100%;
	text-align: center;
	& > ul {
		margin-block-end: 0;
	}
}
#import-export-data {
	block-size: 10em;
	inline-size: 100%;
	display: block;
	margin-block: 1em;
	padding-block-start: 0.5em;
	padding-block-end: 0.25em;
	padding-inline: 0.5em;
	font-family: inherit;
	font-size: 1em;
	line-height: 1;
	color: inherit;
	background-color: unset;
	border-width: var(--line-width);
	border-style: solid;
	border-color: var(--fore-colour);
	resize: none;
}
#import-error-message {
	color: var(--hot-colour);
}
#import-error-list {
	word-break: break-all;
}

/* ------------
	ARCHIVE
------------ */

#series-list {
	padding-inline-start: 0;
	list-style-type: "";
	& > li {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	header {
		position: sticky;
		inset-block-start: 0;
		z-index: 3;
		background-color: var(--back-colour);
		border-block-end-width: var(--line-width);
		border-block-end-style: solid;
		border-block-end-color: var(--fore-colour);
	}
}
.series-content {
	padding: var(--gap-size);
	& > * {
		margin-block: 0;
	}
}
[data-action="add-series"] {
	margin-block-end: var(--gap-size);
	margin-inline-start: var(--gap-size);
}
.series-heading,
.show-heading {
	font-size: 1em;
	margin-block: 0;
	padding-block-start: 0.35em;
	padding-block-end: 0.1em;
	padding-inline: 0.5em;
	color: var(--back-colour);
	background-color: var(--fore-colour);
}
.series-source {
	margin-block-start: 0.3em;
	font-size: var(--meta-font-size);
}
.show-list {
	list-style-type: "";
	margin-inline: var(--gap-size);
	padding-inline-start: 0;
	flex: 1;
	& > li {
		position: relative;
	}
}
.show-heading {
	display: inline-block;
}
.show-content {
	padding-block: var(--gap-size);
	padding-inline-start: var(--gap-size);
	& > * {
		margin-block: 0.25em;
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}
}
button[data-action="add-show"] {
	margin-block-end: var(--gap-size);
	margin-inline-start: var(--gap-size);
}

/* ----------
	ABOUT
---------- */

#stats-list {
	display: flex;
	flex-direction: column;
	margin-inline-start: 1em;
	gap: 0.5em;
	& > * {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	dd {
		margin-inline-start: 0;
		font-weight: bold;
		&::after {
			content: "\a0"; /* non-breaking space */
		}
	}
}

/* --------------
	STREAMING
-------------- */

.code-block {
	display: block;
	margin-block: 1em;
	padding-inline-start: var(--gap-size);
	border-inline-start-width: var(--line-width);
	border-inline-start-style: solid;
	border-inline-start-color: var(--fore-colour);
	tab-size: 2ch;
	overflow-x: auto;
	white-space: pre;
}



/* -------------
	SETTINGS
------------- */

#settings > ul {
	padding-inline-start: 0;
	list-style-type: "";
}
.toggle {
	display: grid;
	grid-template-columns: max-content auto;
	align-items: center;
	margin-inline-start: 1em;
	gap: 0.5em;
	text-align: start;
	border: unset;
	& > svg {
		inline-size: auto;
		padding-block-end: 0.3em;
		stroke: var(--hot-colour);
	}
	&:active use {
		&:not([href="#svg-toggle-track"]) {
			stroke: var(--cold-colour);
		}
		&[href="#svg-toggle-thumb-side"] {
			fill: var(--cold-colour);
		}
	}
}
.svg-toggle-thumb {
	&:dir(rtl) {
		transform: translateX(50%);
	}
}
use[href="#svg-toggle-thumb-side"] {
	fill: var(--hot-colour);
}
use[href="#svg-toggle-thumb-top"] {
	fill: var(--back-colour);
}
use[href="#svg-toggle-tick"] {
	opacity: 0;
}
[aria-pressed="true"] {
	.svg-toggle-thumb {
		transform: translateX(50%);
		&:dir(rtl) {
			transform: translateX(0);
		}
	}
	use[href="#svg-toggle-tick"] {
		opacity: 1;
	}
}
#theme-buttons button {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.palette {
	--palette-angle: 90deg;
	block-size: 1em;
	inline-size: 12em;
	border: inherit;
	background-image: linear-gradient(var(--palette-angle), var(--fore-colour) 25%, var(--back-colour) 25% 50%, var(--hot-colour) 50% 75%, var(--cold-colour) 75%);
	&:dir(rtl) {
		--palette-angle: 270deg;
	}
}
#font-buttons button {
	font-family: var(--font-stack);
}

/* ----------------------------------
	CALL IN/LINKS/CREDITS/WELCOME
---------------------------------- */

#call-in, #links, #credits, #welcome {
	text-align: center;
}
.flex-list [rel~="external"]::after {
	content: unset;
}
.waveform-spacer {
	margin-inline: auto;
	& + h3 {
		margin-block-start: 1em;
	}
}

/* ---------
	FEED
--------- */

#feed-info {
	margin-block-end: 0.3em;
	margin-inline: var(--gap-size);
	text-align: center;
	& > .visible-content {
		& > :first-child {
			margin-block-start: 0;
		}
		& > :last-child {
			margin-block-end: 0;
		}
	}
}
.post-list {
	margin-inline-start: 1em;
	padding-inline-start: 0;
	list-style-type: "";
	header {
		margin-inline-start: -1em;
		a::before {
			content: "[";
		}
		a::after {
			content: "]";
		}
	}
	& > :first-child h3 {
		margin-block-start: 1em;
	}
	article ul > li {
		list-style-type: "\2013\a0\a0";
	}
}
.post-times {
	margin-block-end: 0.5em;
	font-size: var(--meta-font-size);
	font-style: italic;
	font-variant-numeric: tabular-nums;
	& > time {
		&::before {
			content: "\2022 \a0";
			content: "\2022 \a0" / ""; /* bullet point + non-breaking space */
			color: var(--cold-colour);
		}
		&:last-of-type::before {
			color: var(--hot-colour);
		}
	}
}
#latest-updates {
	& > dt {
		font-variant-numeric: tabular-nums;
		&:not(:first-child) {
			margin-block-start: 0.5em;
		}
	}
	& > dd {
		margin-inline-start: 0;
	}
}

/* -----------------
	RESPONSIVITY
----------------- */

@media (min-width: 500px) {
	/* GENERAL */
	body {
		font-size: 1.2em;
	}
	h1, h2 {
		--shadow-1: 0.07em 0.07em 0;
		--shadow-2: -0.05em -0.05em 0;
		--shadow-3: 0.1em 0.09em 0;
		text-shadow: var(--shadow-1) var(--back-colour), var(--shadow-2) var(--back-colour), var(--shadow-3) var(--fore-colour);
		&::selection {
			text-shadow: var(--shadow-1) var(--cold-colour), var(--shadow-2) var(--cold-colour), var(--shadow-3) var(--back-colour);
		}
	}
	.code-block {
		tab-size: 3ch;
	}

	/* NAV */
	#main-nav a {
		padding-block-end: 0.2em;
		flex-direction: row;
		& > span {
			margin-block-start: 0.2em;
		}
	}

	/* BOOTH */
	.show-position-controls .svg-icon {
		block-size: 1em;
	}

	/* SETTINGS */
	.palette {
		inline-size: 4em;
	}
}
@media (min-width: 600px) {
	/* GENERAL */
	.code-block {
		tab-size: 4ch;
	}

	/* RADIO */
	#radio-controls {
		grid-template:
			"seek-controls	show-controls	audio-controls" / auto min-content min-content;
		column-gap: calc(var(--gap-size) * 3);
	}

	/* NAV */
	#main-nav {
		display: block;
		font-size: unset;
		& > ul {
			inline-size: unset;
			margin-inline: auto;
			flex-direction: row;
		}
	}
}
@media (min-width: 700px) {
	/* ARCHIVE */
	#series-list {
		border-block-end-width: var(--line-width);
		border-block-end-style: solid;
		border-block-end-color: var(--fore-colour);
		& > li {
			flex-direction: row;
		}
	}
	.series-heading {
		font-size: 1em;
		text-align: end;
	}
	#series-list {
		header {
			inline-size: 260px;
			margin-inline-end: calc(var(--line-width) * -1);
			background-color: unset;
			border-block-end: unset;
			border-inline-end-width: var(--line-width);
			border-inline-end-style: solid;
			border-inline-end-color: var(--fore-colour);
		}
		.show-list {
			margin-inline: 0;
			border-inline-start-width: var(--line-width);
			border-inline-start-style: solid;
			border-inline-start-color: var(--fore-colour);
		}
	}
	.series-content {
		padding-inline-start: 0;
	}
	[data-action="add-series"] {
		margin-inline-start: 0;
		margin-inline-end: var(--gap-size);
	}
}
@media (min-width: 1240px) {
	/* GENERAL */
	#container {
		max-inline-size: var(--widescreen-max-inline-size);
		display: grid;
		grid-template:
			"	radio	heading		"
			"	radio	nav			"
			"	radio	sections	";
		column-gap: var(--gap-size);
	}
	#container > header {
		grid-area: heading;
	}

	/* RADIO */
	#sidebar {
		grid-area: radio;
		block-size: max-content;
		position: sticky;
		inline-size: calc(var(--widescreen-max-inline-size) - var(--main-column-max-inline-size) - var(--gap-size));
		inset-block-start: var(--gap-size);
		border-width: var(--line-width);
		border-style: solid;
		border-color: var(--fore-colour);
	}
	#radio-app {
		overflow-y: auto;
		max-block-size: calc(100vh - calc(2 * var(--gap-size)));
	}
	#loaded-show > .show-heading {
		display: block;
	}
	#radio-controls {
		margin: var(--gap-size);
		grid-template:
			"	seek-controls	seek-controls	"
			"	show-controls	audio-controls	" / auto min-content;
	}

	/* NAV */
	#main-nav {
		grid-area: nav;
	}

	/* SECTIONS */
	main {
		grid-area: sections;
		inline-size: calc(var(--main-column-max-inline-size) - 2 * var(--main-column-padding));
	}

	/* BOOTH */
	#playlist {
		margin-inline: 0;
	}

	/* FEED */
	#feed-info {
		margin-block-start: 0.5em;
		text-align: left;
	}
	#feed-url {
		text-align: center;
	}
}

/* ================== END DEFAULTS */ }
